/* expense.css */

.expense {
    max-width: 600px;
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  #group-text {
    margin-top: 10px;
    color: #000000;
    text-align: center;
  }
  
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #333;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  