* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #141E30, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #141E30, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-brand,
.nav-link,
.navbar-text {
  font-family: 'Exo', sans-serif;
}

.container {
  font-family: 'Dosis', sans-serif;
  color: white;
}

.date-font {
  font-family: 'Dosis', sans-serif;
}

.exo-bold {
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.card {
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  border: none;
  -webkit-box-shadow: 0 1px 7px rgba(0,0,0,.05);
  box-shadow: 0 1px 7px rgba(0,0,0,.05);
}

.card:hover {
  transform: scale(1.04);
  border: none;
}

.modal {
  color: black;
}

.overdue-tasks {
  background: #CB356B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;  
}

.done-tasks {
  background: #134E5E;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
}

.due-tasks {
  background: #ADA996;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.ant-picker-dropdown{
  z-index: 1056;
}

.details-button {
  color: white;
  background-color: #ff3d50;
}

.details-button:hover {
  color: white;
  background-color: #d93444;
}

/* CSS for initial 3 task cards */
.task-card-row {
  @media (min-width: 650px) {
      white-space: nowrap;
  }
  height: 8rem;
}

.task-card {
  width: 100%;
  background-color: #fff;
  color: #494949;
  text-align: center;
  transition: width 0.3s padding 0.3s;
  overflow: hidden;
}

.task-card .content {
  font-size: 1.3rem;
  line-height: 1;
  transition: font-size .25s ease-out;
  &.expand-content {
      visibility: hidden;
      line-height: 1.7rem;
  }
}

.task-card-row.child-expanded {
    .task-card.expanded {
        .collapse-content {
            visibility: hidden;
            height: 0;
        }
        .expand-content {
            visibility: visible;
            margin-top: 2rem;
            font-size: 3rem;
        }
    }
    .task-card:not(.expanded) {
      width: 0;
      padding: 0;
      margin: 0;
    }
}

@media (max-width: 377px) {
  .task-card-row.child-expanded {
  .task-card.expanded {
  .task-wrap {
      visibility: visible;
      line-height: 1;
      height: auto;
      margin-top: auto;
      font-size: 3rem;
    }
  }
}
}

.expand-right {
  margin-left: -24px;
}

.expand-left {
  margin-right: -24px;
}

.expand-both {
  margin-left: -8px;
  margin-right: -8px;
}

.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: .3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #8eafb5;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-right:active,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right.expanded {
  color: #fff;
}

.hvr-sweep-to-right:active:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right.expanded:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.hvr-sweep-to-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: .3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #8eafb5;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-left:active,
.hvr-sweep-to-left:focus,
.hvr-sweep-to-left.expanded {
  color: #fff;
}

.hvr-sweep-to-left:active:before,
.hvr-sweep-to-left:focus:before,
.hvr-sweep-to-left.expanded:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: .3s;
  transition-duration: 0.3s;
}

.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-shutter-out-horizontal:active,
.hvr-shutter-out-horizontal:focus,
.hvr-shutter-out-horizontal.expanded {
  color: #fff;
}

.hvr-shutter-out-horizontal:active:before,
.hvr-shutter-out-horizontal:focus:before,
.hvr-shutter-out-horizontal.expanded:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.hvr-sweep-to-right:before {
  background: #CB356B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.hvr-sweep-to-left:before {
  background: #134E5E;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.hvr-shutter-out-horizontal:before {
  background: #0d6efd;
}

